* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

html {
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
  background-color: var(--dark-blue);
  font-weight: 800;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal {
  background-color: var(--dark-grayish-blue);
  padding: 28px 0;
  text-align: center;
  border-radius: 16px;
  width: 100%;
  max-width: 550px;
  position: relative;
}

.modal-advice-id {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 16px 16px 0px;
  color: var(--neon-green);
}

.modal-advice-text {
  font-size: 2.8rem;
  line-height: 140%;
  padding: 24px;
  width: 90%;
  margin: 0 auto;
  color: var(--light-cyan);
}
.modal-divider {
  margin: 8px 0px 32px;
  width: 100%;
}
.modal-advice-generator {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  border-radius: 50%;
  padding: 16px;
  background: var(--neon-green);
  box-shadow: 0px 0px 30px transparent;
  transition: box-shadow 300ms ease-in-out;
  cursor: pointer;
}
.modal-advice-generator:hover {
  box-shadow: 0px 0px 30px var(--neon-green);
}
